header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  background-color: white;
  height: 60px;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  position: fixed;
  z-index: 5
}

a {
  color: black;
}
.logo {
/*  display: flex;*/
  flex: 1 3 100px;
  padding: 0 0 0 30px;
  border: 1px solid black;
  flex-wrap: wrap;
}

.logo img {
  vertical-align: middle;
}

/*.logo span {
  align-items: center;
}*/

nav {
  /*display: flex;*/
  flex: 1 0 auto
  flex-wrap: wrap;
  /*justify-content: flex-end;*/
}

nav span {
  display: inline-block;
  width: 60px;
  /*text-align: center;*/
  }

main {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 62px;
  font-family: "Times New Roman";
  align-items: stretch;
  z-index: 3;
}

.column {
  display: flex;
}

.column.large {
/*  margin-right: 100px;
  order: 1;*/
  width: 630px;
}

.column.medium {
/*   margin-right: 100px;
  order: 2;
  padding: 30px;*/
  width: 300px;
}

.column.small {
/*   margin-right: 100px;
  order: 3;*/
  width: 240px;
}

main div {
  border: 1px solid black;
}

.article {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#mainstory {
  display: flex;
  background: url("./images/img-story-main.png");
/*  background-repeat: no-repeat;*/
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  }

#story1 {
  display: flex;
  background: url("./images/img-story-1.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#story2 {
  display: flex;
  background: url("./images/img-story-2.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#story3 {
  display: flex;
  background: url("./images/img-story-3.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
